.country-selector {
  /* border: 1px solid #ccc;
  padding: .2rem .5rem;
  border-radius: .5rem; */
}

.flag-select__option__icon {
  top: 0 !important;
}

.flag-select {
  padding-bottom: 0 !important;
  padding-top: .4rem;
}

.input-group-text {
  padding: 0.1rem 0.2rem !important;
  font-size: .6rem !important;
  font-weight: 300 !important;
  border: none !important;
  border-radius: 0 !important;
}

.flag-select__btn {
  outline: 0 !important;
}

.input-group {
  border: 1px solid #ccc;
  border-radius: .2rem;
}
.amount {
  height: 3rem !important;
  border: none !important;
}